<a href="https://colab.research.google.com/github/ds2025-col/Datatypes/blob/main/datatypes_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

text=str

num=int,float,complex

sequance type=list,tuple,range

mapping=dict

set=frozen,set

boolean type=bool

**List is a collection of data**

**tuple is also orderd collection of python object**
**the only difference between tuple and list is the tuple are imutable.**

**A set is a unordered collection of data types that is iterable,mutable and has no dublicate elements.**

**a frozen set is a imutable  version of a python set object.
 x=frozen set([1,2,3])**

**Dictionary is an unordered collection of key value pair.**

**String is a series of characcters enclosed in quatation mark.  eg-'hello world**

In [ ]:
x=4
y=complex(x)
print(y)

(4+0j)

membership operators

list

In [ ]:
a=['apple','orange','banana']
print('apple' in a)
print('mango' not in a)
print('apple' not in a)

True
True
False

**List**

In [ ]:
a=[1,'ann',25,'17',True]   #replace
a[3]=15
print(a)

[1, 'ann', 25, 15, True]

In [ ]:
a=[1,7,6]
a.append(2)  #append
print(a)

[1, 7, 6, 2]

In [ ]:
a.insert(2,'try')
print(a)  #insert

NameError: name 'a' is not defined

In [ ]:
a.extend([4,9])
print(a)  #extend

[1, 'try', 7, 6, 2, 4, 9]

In [ ]:
a.pop(1)
print(a) #pop

[1, 7, 6, 2, 4, 9]

In [ ]:
a.remove(6)
print(a)   #remove

[1, 7, 2, 4, 9]

In [ ]:
x=[1,9,2,5,7]
x.sort() #acending
print(x)

[1, 2, 5, 7, 9]

In [ ]:
x.sort(reverse=True)  #decending
print(x)

[9, 7, 5, 2, 1]

Nested **List**

In [ ]:
x=[[1,0,5],[3,4,5,6],[1,2,3]]
print(x[2][0])

1

In [ ]:
a=[1,2,3,4]
print(sum(a))
print(len(a))

10
4