<a href="https://colab.research.google.com/github/ds2025-col/Datatypes/blob/main/enumarate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=['ann','ram','anna','sam']
y=enumerate(x)
print(y)
list(y)

# list = __builtins__.list
# list_y = list(y)
# print(list_y)

# my_list = ['ann','ram','anna','sam']
# obj = enumerate(my_list)
# print(obj)
# list_obj = list(obj)

<enumerate object at 0x7c2afe15f470>

[(0, 'ann'), (1, 'ram'), (2, 'anna'), (3, 'sam')]

In [ ]:
fruit=['apple','banana','cherry']
x= enumerate(fruit)
print(x)
list(x)

<enumerate object at 0x7c2afe194a90>

[(0, 'apple'), (1, 'banana'), (2, 'cherry')]

In [ ]:
a=[{'name':'ann','age':10},{'name':'ram','age':20},{'name':'anna','age':18}]
x=list(enumerate(a))
print(x)
print(x[1][1])

[(0, {'name': 'ann', 'age': 10}), (1, {'name': 'ram', 'age': 20}), (2, {'name': 'anna', 'age': 18})]
{'name': 'ram', 'age': 20}

In [ ]:
a=[[1,2,3],[1,2,4],[2,4,6]]
print(list(enumerate(a)))
print(a[1][2])
print(len(a))

[(0, [1, 2, 3]), (1, [1, 2, 4]), (2, [2, 4, 6])]
4
3

In [18]:
name=['arun','akshay','reenu']
print(list(enumerate(name)))
print(name[0])

[(0, 'arun'), (1, 'akshay'), (2, 'reenu')]
arun

In [ ]:
a=[{'name'}]